extends ../layout



block content
	.container
		.row
			.col-sm-3.col-md-2.card-list
				include _cardlist

			#main.col-sm-9.col-md-10(style='background-color: #f5f5f5;')


	script.
		$(document).ready(function() {
			
			Chillwind.Card.FIXTURES  = !{JSON.stringify(cards)};
		});





