
<div class="row">
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="active">
            <a href="#">Summary</a></li>
        <li>
            <a href="#attack">Attack Stats</a></li>
        <li>
            <a href="#health">Health Stats</a></li>
        <li>
            <a href="#mana">Mana Stats</a></li>
        <li>
            <a href="#spell">Spell Stats</a></li>
    </ul>
</div>